name: Nightly
on:
  pull_request:
jobs:
  test:
    name: Julia nightly ${{ matrix.group }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}'    
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: nightly
          arch: x64
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
